.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-bottom: auto;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333333;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5ca2ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #4562a0;
}