/* Contenedor central */
.registro-contenedor {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.registro-caja {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    margin-bottom: 20px;
}

.form-grupo {
    margin-bottom: 15px;
}

.form-grupo label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-grupo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el campo inválido */
.invalid {
    border: 2px solid red !important;
    outline: none;
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
    display: none;
}

.radio-grupo {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.form-grupo .profilePreview {
    width: 120px;
}

button.btn {
    width: 100%;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: cadetblue;
}