/* General Styles */
body {
    background-image: url('../../IMG/Fondos.webp');
    background-color: #f0f0f0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    color: black;
}

/* Estilos para todos los botones */
button.btn {
    color: white;
    background-color: black;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

button.btn:hover {
    background-color: rgb(58, 72, 83);
    cursor: pointer;
}

/* Estilos para el campo inválido */
.invalid {
    border: 2px solid red !important;
    outline: none;
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
    display: none;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

input,
select {
    width: 100%;
    padding: 0.7em;
    margin: 0.5em 0;
    border: 1px solid #043c4cab;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 150px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #043c4cab;
    border-radius: 5px;
    resize: vertical;
    /* Permite cambiar el tamaño verticalmente */
}

h2 {
    margin-bottom: 20px;
}