/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.747);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 15px 30px;
    color: white;
}

.main-header .logo img {
    width: 5em;
    border-radius: 10px;
    margin: 5px;
}

.nav-opciones ul {
    display: flex;
    gap: 20px;
}

.nav-opciones ul li {
    display: inline;
}

.nav-opciones ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.nav-opciones ul li a:hover {
    background-color: #3373af91;
    border-radius: 5px;
}