<template id="header-template">
    <footer class="main-footer">
        <div class="footer-opciones">
            <ul>
                <li>Erick Franco Mendez</li>
                <li>Miguel Moreno</li>
            </ul>
            <ul>
                <li>David Rogriguez</li>
            </ul>
            <div class="footer-final">
                <ul>
                    <li>CONECTION © Todos los derechos reservados</li>
                </ul>
            </div>
        </div>
    </footer>
</template>